.section-main {
    margin: 2rem 7% 0;
}
.alert {
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
    color: rgb(58, 69, 219);
    text-transform: uppercase;
}
.font-card {
    color: #000;
}
.font-card table thead th,
td {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(88, 88, 224);
}
tbody tr td {
    font-size: 1.5rem;
    color: #000;
}

i.fa-dollar-sign {
    opacity: 0.75;
    color: #000;
}
button.delete-all {
    font-size: 62%;
    padding: 0.5rem;
    width: 7rem;
    height: 3rem;
}

button.delete-all:hover {
    background-color: red;
    color: #fff;
}

table thead th:first-child {
    width: 3%;
}
table thead th:nth-child(2) {
    width: 50%;
}
i.fa-trash-alt:hover {
    color: red;
}

td.soluong button {
    width: 26px;
    height: 26px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #000;
}
td.soluong button i:hover {
    color: yellow;
}
td.soluong input {
    margin: 0 -4px 0 -4px;
    text-align: center;
    background-color: #fff;
    border: none;
}
tr.sum-price td {
    font-size: 2rem;
}
