:root {
    --orange-light: rgb(255, 115, 0);
}

.section-main {
    margin: 2rem 7% 25rem;
    position: relative;
}
.alert {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(58, 69, 219);
    text-transform: uppercase;
}
.shopping-cards {
    font-size: 1.5rem;
    font-weight: bold;
}
.font-title {
    background-color: var(--orange-light);
    color: white;
    padding: 1rem;
    margin: 0 auto;
    display: inline-flex;
    text-align: center;
    align-items: center;
    max-width: 1312px;
}
.font-title span:nth-child(1) {
    width: 120px;
}
.font-title span:nth-child(2) {
    width: 200px;
}
.font-title span:nth-child(3) {
    width: 400px;
}
.font-title span:nth-child(4) {
    width: 200px;
}
.font-title span:nth-child(5) {
    width: 150px;
}
.font-title span:nth-child(6) {
    width: 220px;
}
/* --------------------------------- */
.cards-item {
    display: inline-flex;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
    vertical-align: center;
    height: 80px;
    border-bottom: 1px solid #ccc;
}
.cards-item > *:not(.img-card) {
    border-left: 1px solid #ccc;
    max-width: 100%;
}
.cards-item img {
    width: 100px;
    top: 0;
    left: 50%;
    transform: translateX(50%);
}
.cards-item a#delete-item {
    width: 132px;
    border-right: 1px solid #ccc;
}
.cards-item .img-card {
    width: 200px;
}
.cards-item span#name-items {
    width: 400px;
}
.cards-item span.price-items-card {
    width: 200px;
}
.cards-item .quantity-num {
    width: 150px;
}
.cards-item .total-item {
    width: 220px;
}

.quantity-num button {
    width: 20px;
    height: 22px;
    background-color: rgb(240, 236, 236);
}
.quantity-num button i {
    opacity: 0.75;
    font-weight: 600;
    font-size: 10px;
}
.quantity-num button:hover {
    background-color: blue;
}
.quantity-num button:hover i {
    background-color: rgb(255, 30, 0);
    color: white;
    opacity: 1;
}

.quantity-num input {
    margin: 0 -4px 0 -4px;
    text-align: center;
    background-color: #fff;
    border: none;
}
i.fa-dollar-sign {
    color: rgb(255, 30, 0);
    margin-right: -5px;
}

#delete-item i:hover {
    color: red;
    font-size: 130%;
}

.font-title-total {
    background-color: var(--orange-light);
    color: white;
    padding: 0;
    margin: 0 auto;
    display: block;
    text-align: center;
    align-items: center;
}

.sum-total-cards {
    max-width: 1000px;
    width: 100%;
    margin: 2rem;
    display: inline-flex;
    flex-direction: row;
    flex: 0 0 auto;
    float: right;
    opacity: 1;
}
.sum-total-cards .coupon {
    font-size: 2rem;
    width: 40%;
    text-transform: capitalize;
    display: block;
    margin: 2rem;
    margin-right: 5rem;
}
.sum-total-cards .total-all {
    font-size: 2rem;
    width: 40%;
    text-transform: capitalize;
    display: block;
    margin: 2rem;
}
.coupon-title,
.card-totals {
    width: 100%;
}
.font-coupon {
    width: 100%;
    border: 1px solid #ccc;
    display: inline-block;
    padding: 1rem;
}
.font-coupon p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.6rem;
    text-transform: none;
}
.font-coupon input {
    display: inline;
    border: 1px solid #ccc;
    font-size: 17px;
    text-transform: none;
    width: 30vh;
    max-width: 100%;
    margin-right: 2rem;
}
.font-coupon button {
    text-transform: capitalize;
    padding: 1rem;
    font-size: 1rem;
    background-color: rgb(78, 78, 223);
    border-radius: 3px;
    font-weight: bold;
    color: #fff;
    transform: translateY(-10%);
}
.font-total-all {
    position: relative;
    font-size: 1.5rem;
    padding: 1.5rem;
    font-weight: bold;
}
.font-total-all .font-subtotal,
.font-shipping {
    display: flex;
    flex-grow: column;
    flex: 1 0 100%;
}
.font-total-all .font-subtotal span {
    width: 80%;
}
.font-total-all .font-shipping span {
    width: 80%;
}
.plus-total-all {
    border-top: 2px solid #ccc;
    display: flex;
    flex-grow: column;
    flex: 1 0 100%;
    padding: 1.5rem;
    font-size: 1.7rem;
    color: #000;
    font-weight: bold;
}
.plus-total-all span {
    width: 80%;
}
.font-shipping .shipping-price {
    width: 20%;
    text-align: center;
    align-items: center;
    vertical-align: center;
}
.font-subtotal .subtotal-price {
    width: 20%;
    text-align: center;
    align-items: center;
    vertical-align: center;
}
