.section-main {
    margin: 2rem 7% 10rem;
}
.alert {
    font-weight: bold;
    font-size: 2.5rem;
    text-align: center;
    color: rgb(58, 69, 219);
    text-transform: uppercase;
}
.font-card table td a {
    color: #333;
}
.font-card table thsead th,
td {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: rgb(88, 88, 224);
}
tbody tr td {
    font-size: 1.5rem;
    color: #333;
}

i.fa-dollar-sign {
    opacity: 0.75;
    color: rgb(255, 0, 0);
}
button.delete-all {
    font-size: 62%;
    padding: 0.5rem;
    width: 7rem;
    height: 3rem;
}

button.delete-all:hover {
    background-color: red;
    color: #fff;
}

table thead th:first-child {
    width: 3%;
}
table thead th:nth-child(2) {
    width: 50%;
}
i.fa-trash-alt:hover {
    color: red;
}

td.soluong button {
    width: 20px;
    height: 22px;
    background-color: rgb(240, 236, 236);
}
td.soluong button i {
    opacity: 0.75;
    font-weight: 600;
    font-size: 10px;
}
td.soluong button:hover {
    background-color: blue;
}
td.soluong button i:hover {
    color: rgb(255, 255, 255);
    opacity: 1;
}
td.soluong input {
    margin: 0 -4px 0 -4px;
    text-align: center;
    background-color: #fff;
    border: none;
}
.total-price-title {
    font-size: 2rem;
    color: blue;
}
.tr-item {
    height: 11vh;
}
.tr-item td {
    position: relative;
}
.tr-item td input.checkbox,
td i.delete-item {
    position: absolute;
    top: 40%;
    transform: translate(-50%);
}
.price-item {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
}
.quantity-num {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%);
}
.img-item-card a {
    line-height: 0;
    text-emphasis: none;
    text-overflow: hidden;
    text-decoration: none;
}

.img-item-card img {
    max-width: 100px;
    display: inline-block;
    margin-right: 1rem;
}
